<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.limeblast.mydeatree">

    <application
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:debuggable="true"
            android:theme="@style/Theme.mydeatree">

        <!-- Activity definitions -->
        <activity android:label="" android:name="activities.ForwardingActivity"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:label="" android:name=".activities.MainActivity"
                  android:uiOptions="splitActionBarWhenNarrow"
                  android:configChanges="orientation">
        </activity>

        <activity android:label="Login"
                  android:name=".activities.LoginActivity"
                  android:windowSoftInputMode="adjustResize" />
        <activity android:label="MydeaTree Preferences" android:name=".activities.PreferencesActivity"/>

        <activity android:label="New Idea" android:name=".activities.NewIdeaActivity" android:windowSoftInputMode="adjustResize" android:theme="@android:style/Theme.Dialog" />
        <activity android:label="Editing Idea" android:name=".activities.IdeaEditActivity"  android:windowSoftInputMode="adjustResize" android:theme="@android:style/Theme.Dialog" />


        <activity android:name=".SearchResultsActivity"
                  android:label="Idea Search"
                  android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                       android:resource="@xml/searchable"/>
        </activity>


        <activity android:name=".activities.SampleActivity" android:label="Sample Activity" />

        <!-- Provider definitions -->
        <provider
                android:authorities="com.limeblast.mydeatree.providers.IdeaContentProvider"
                android:name=".providers.IdeaContentProvider"
                android:exported="false">
        </provider>
        <provider android:authorities="com.limeblast.mydeatree.providers.FavoriteIdeaProvider"
                  android:name=".providers.FavoriteIdeaProvider"
                  android:exported="false"></provider>


        <!-- Receiver definitions -->
        <receiver android:name=".PublicSyncAlarmReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="com.limeblast.mydeatree.ACTION_REFRESH_PUBLIC_IDEAS_ALARM"/>
            </intent-filter>
        </receiver>

        <!-- Service definitions -->
        <service android:enabled="true" android:name=".services.PublicIdeaSyncService"  />
        <service android:enabled="true" android:name=".services.PrivateIdeaSyncService" />
        <service android:enabled="true" android:name=".services.IdeaUpdateService" />
        <service android:enabled="true" android:name=".services.IdeaCreateService" />
        <service android:enabled="true" android:name=".services.IdeaDeleteService" />

        <service android:enabled="true" android:name=".resources.FavoriteIdeaGetService" />

        <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchResultsActivity"/>
    </application>


    <uses-sdk android:minSdkVersion="7"
              android:targetSdkVersion="17"/>

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
</manifest>
